<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.newtrial2.mapper.ResourceMapper">

    <select id="countTotalResources" resultType="java.lang.Long">
        SELECT COUNT(*) FROM resource
    </select>

    <select id="countTotalDownloads" resultType="java.lang.Long">
        SELECT COALESCE(SUM(download_count), 0) FROM resource
    </select>

</mapper>